body {
  background-color: lightgrey;
  margin: 0;
}

header {
  min-height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
}

.logo_block {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.logo_block img {
  max-height: 60px;
}

.logo_block p {
  font-family: 'Amatic SC';
  font-size: 1.4rem;
  margin: 5px;
  color: #e7e7e7;
}

nav {
  width: 55%;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: #ffa902;
}

/*------------------------content--------------------------*/

.content {
	width: 70%;
	margin: 150px auto;
	overflow: hidden;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	flex-grow: 1;
	flex-basis: 350px;
	list-style: none;
	margin: 2%;
}

li img {
	max-width: 100%;
	border: 3px solid lightgray;
	border-radius: 10px;
}

p {
	color: black;
	font-size: 120%;
}

h1,
.text {
	color: black;
}
